{% extends 'base.html.twig' %}
{% block title %}Creer hopital!{% endblock %}	
{% block body %}
        {% include "menu.html.twig" %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Ajouter Prescription</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 border border-info">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}