{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Patient</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="{{path('prescription_patient')}}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-pencil"></i> Prescription</a>
                <a href="{{path('consultation_patient')}}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-book"></i> Consultations</a>
                <a href="{{path('rendez_vous_patient')}}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-calendar"></i> Rendez-vous</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>0</h3>
                        <span class="widget-title1">Rendez-vous <i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg2"><i class="fa fa-patient"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>0</h3>
                        <span class="widget-title2">Consultations <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>0</h3>
                        <span class="widget-title3">Prescriptions <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>0</h3>
                        <span class="widget-title4">Resultats <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>				
        </div>
    </div>
</div>
{% endblock %}
