{% extends 'base.html.twig' %}

{% block title %}Suivi{% endblock %}

{% block body %}
        {% include "menu.html.twig" %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title"></h4>
            </div>
        </div>
    </div>

        <h1 class="text-center text-color-info">Pas de données</h1>
</div>
{% endblock %}
