{% extends 'base.html.twig' %}

{% block title %}Succes{% endblock %}

{% block body %}
        {% include "menu.html.twig" %}
<div class="example-wrapper">
    <div class="content">
		<div class="col-sm-8 col-9 text-center m-b-20">
            <h1>Enregistrement avec succès ✅</h1>
            <h1>Enregistrement avec succès ✅</h1>
        </div>
    </div>
</div>
{% endblock %}
