{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Enregistrement avec succès ✅</h1>
    <p> username : <b>{{username}}</b> <br>
        password : <b>{{password}}</b>
    </p>
    <h3>veuillez cliquer sur le lien "se connecter" pour activer votre compte.</h3>
    <a href="{www.localhost:8000/login}">se connecter</a>
</div>
{% endblock %}
