{% extends 'base.html.twig' %}

{% block title %}Details info{% endblock %}

{% block body %}
        {% include "menu.html.twig" %}
<div class="example-wrapper">
    <div class="content">
		<div class="col-sm-8 col-9 text-center m-b-20">
            <h1 >Enregistrement avec succès ✅</h1>
            <h1>Enregistrement avec succès ✅</h1>
            <h3>Un email de confirmation a été envoyé</h3>
            <h3>veuillez consulter votre mail pour activer votre compte.</h3>
            <ul>
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}
